
.cDiv_title_c { padding:30px 0px 30px 10px; }
.cDiv_container { margin:10px 0px 10px 50px; font-family: 'Microsoft YaHei'; }
.cDiv_container div.fotorama__stage { border-radius: 16px; }
.cImg_logo { height:30px; width:65px; margin:0px 20px -5px 0px;}
.cSpan_title { font-size:22px; font-weight:bold; }
.cSpan_date { font-size:14px; color:darkgray; }